.container {
    padding: 1.5rem;
    background: #f3fdf8;
    min-height: 100vh;
}

.map {
    height: 500px;
    width: 100%;
    border-radius: 12px;
    margin-top: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
