/** @format */

.ProseMirror {
    white-space: pre-wrap;
}
.ProseMirror p.is-empty::before {
    content: attr(data-placeholder);
    color: #aaa;
    float: left;
    height: 0;
    pointer-events: none;
    white-space: pre-wrap;
}
.ProseMirror blockquote {
    margin-left: 1.5rem;
    padding-left: 1rem;
    color: none;
}
body,
html,
* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
