# Node
node_modules/
.env
.env.local
.env.development
.env.production
builder.config.json
# VS Code
.vscode/
PROJECT-REACT-EXPRESS-NEW-AG-KG (KHKT).code-workspace
# System
.DS_Store
Thumbs.db
builder.io/
client/node_modules/
server/node_modules/
