.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.banner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    h2 {
        font-size: 1.7rem;
    }
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 4rem;
    @media (max-width: 768px) {
        padding: 0 !important;
        margin: 0 !important;
    }
}
