.chatbot {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 400px;
    padding: 10px 5px;
    position: fixed;
    bottom: 60px;
    right: 40px;
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #e3f2fd;
    }
    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        padding: 20px 20px;
        scrollbar-width: thin;
        scrollbar-color: #ccc transparent;
    }
    .input {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        input {
            align-self: flex-start;
            width: 100%;
            height: 20px;
            border: 2px solid #ccc;
            border-radius: 10px;
            padding: 0 5px;
        }
        button {
            align-self: flex-end;
            font-size: 20px;
            background: none;
            border: none;
            color: blue;
        }
    }
}

.assistant,
.user {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 8px 12px;
}

.assistant {
    align-self: flex-start;
    background-color: blue;
    border-radius: 16px 16px 16px 0px;
    background-color: #d4eafd;
    color: #003366;
}
.user {
    background-color: black;
    align-self: flex-end;
    border-radius: 16px 16px 0 16px;
    background-color: #e0e0e0;
    color: #111;
}
