.container {
    width: 60rem;
    height: 160rem;
    border: 2px solid black;
    display: flex;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}
.content {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-areas:
        "header"
        "production"
        "production"
        "production"
        "kq"
        "kq"
        "kq" "kq";
}

.header {
    grid-area: header;
    border: 2px solid black;
}

.demoProduction {
    grid-area: production;
    border: 2px solid black;
}
.kq {
    grid-area: kq;
    border: 2px solid black;
}
