/** @format */
// ======= REQUEST CREATING A TOUR ==========
.form {
    flex: 0 0 0 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.field {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    label {
        font-weight: 500;
        color: #1f2937;
    }

    input {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        align-items: flex-end;
        padding: 0.5rem 1rem;
        border: 1px solid #e5e7eb;
        border-radius: 6px;
        font-size: 1rem;
        outline: none;
        transition: border 0.2s ease;

        &:focus {
            border-color: #10b981;
        }
    }
}
.ReqCreating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    border: none;
    height: 20px;
    padding: 1rem 2rem;
    background: linear-gradient(135deg, #10b981, #059669);
    box-shadow: 0 4px 15px rgba(16, 185, 129, 0.3);
}
