.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #f5f7fa;
}

.content {
    flex: 1;
    background-color: #ffffff;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    border-radius: 15px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease-in-out;
}
.footer {
    margin-top: auto;
}
