/** @format */

.container {
    padding: 2rem 4rem;

    display: flex;
    flex-direction: column;
    gap: 30px;
    p {
        font-size: 1.2rem;
    }
}
.header {
    display: flex;
    gap: 20px;
    h2 {
        font-size: 1.5rem;
        position: relative;
        cursor: pointer;
        color: #888;
        padding-bottom: 6px;
        transition: color 0.3s ease;
        &::after {
            content: "";
            color: #007bff;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background: #007bff;
            border-radius: 2px;
            transition: width 0.3s ease, left 0.3s ease;
        }
        &:hover {
            color: #0056b3;
            &::after {
                width: 50%;
                left: 0;
            }
        }
        &.processing {
            color: #007bff;
            &::after {
                width: 100%;
            }
            &:hover {
                color: #0056b3;
                &::after {
                    width: 50%;
                    left: 25%;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        padding: 1rem 2rem;
    }
    .cards {
        display: flex;
        flex-direction: column;
    }
}
