.container {
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    .content {
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        gap: 10px;
        padding: 10px 20px;
        margin-top: 10px;
        padding-top: 20px;
        //
        .AG,
        .KG {
            display: flex;
            flex-direction: column;
            padding: 20px 20px;
            height: 281px;
        }
        .AG {
            background-color: #c6f3d6;
        }
        .KG {
            background-color: #bde9dd;
            h4 {
                align-self: flex-end;
            }
        }
    }
}
.merge,
.process,
.after {
    display: flex;
    flex-direction: column;
    .bet {
        position: absolute;
        background-color: white;
        font-size: 20px;
        padding: 0 5px;
    }
}

.process {
    .bet {
        left: 45%;
        padding: 0 5px;
    }
}
.after {
    .bet {
        left: 87.8%;
        padding-left: 5px;
    }
}
