/** @format */

// Before_Login.module.scss

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f7fa;
    position: relative;
}
::-webkit-scrollbar {
    width: 0px;
}
.content {
    flex: 1;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    overflow-y: auto;
    max-width: auto;
    min-height: 0;
    max-height: 100%;
}

.footer {
    margin-bottom: 0;
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.03);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
}

.extra {
    position: fixed;
    top: 90%;
    left: 90%;
    z-index: 1;
}
