.container {
    padding: 8px;
    max-width: 100%; // mobile full width

    .header {
        text-align: center;
        margin-bottom: 16px;

        .heading {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .intro {
            font-size: 16px;
            line-height: 1.4;
            color: #333;
        }
    }

    .sliderContainer {
        .item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 8px;
            text-align: center;
            padding: 4px;
            margin-left: 10px;
            img {
                align-items: center;
                width: 90%;
                height: 100px;
                border-radius: 4px;
                margin-bottom: 10px;
                object-fit: cover;
            }

            h3 {
                width: 100%;
                font-size: 16px;
                margin-bottom: 8px;
            }
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.595); // nền đen mờ
        color: #fff;
        border: none;
        font-size: 24px;
        z-index: 2;
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 4px;

        &.prev {
            left: 8px;
        }

        &.next {
            right: 8px;
        }
    }
}
