/** @format */

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 30px;
}
.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	.card {
		width: 300px;
		padding: 15px 20px;
		background: white;
		border-radius: 8px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		transition: transform 0.3s ease;
		&:hover {
			transform: scale(1.04) translateY(-3px);
		}
		img {
			border-radius: 10px;
		}
		h5 {
			margin: 0 0 20px 0;
			color: #e91e63;
			background: #fce4ec;
			padding: 4px 12px;
			border-radius: 20px;
			display: inline-block;
			font-weight: 500;
			font-size: 0.95rem;
		}
		h4 {
			font-size: 1.2rem;
			margin-top: 1rem;
			border-bottom: none;
		}

		p {
			padding: 0 1rem 1.5rem;
			font-size: 0.9rem;
			color: #666;
		}
	}
}
//
.header {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.first {
	justify-content: center;
	display: flex;
	gap: 20px;
	align-items: center;
	button {
		background-color: none;
		background: none;
		border-radius: 20px;
		padding: 5px 15px;
		cursor: pointer;
	}
	h4 {
		font-size: 1.1rem;
	}
}
.second {
	display: flex;
	align-items: center;
	gap: 20px;
	input {
		flex: 1;
		height: 20px;
		&:active,
		&:focus {
			outline: none;
			border: 2px solid rgba(0, 140, 255, 0.801);
		}
	}
	.filter {
		select {
			width: 100px;
			height: 25px;
			font-size: 1rem;
			&:active,
			&:focus {
				outline: none;
				border: 2px solid rgba(0, 140, 255, 0.801);
			}
		}
	}
}
